doxygen
bin
obj
*.layout
*.depend
voxels-debug
voxels
voxels-debug-tsan
voxels-debug-asan
voxels-optimized
voxels-profile
*~
*.save
gmon.out
ValgrindOut.xml
core
*.log
massif.out.*
*.vw
Makefile
*.exe
*.dll
*.pdb
*.exp
*.lib
*.ilk
*.bsc
*.obj
*.idb
.vs
Debug
Release